* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/fire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0e0e0e;
}

#containerHeader {
/* Titulo do churrascometro */
  font-family: Arial, Helvetica, sans-serif;
  max-width: 300px;
  margin: auto;
  background-color: #7e0b0b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  animation: frontProject .3s;

}

#containerPrincipal {
/* Parte principal do projeto */
  font-family: Arial, Helvetica, sans-serif;
  max-width: 300px;
  margin: auto;
  background-color: #7e0b0b;
  padding: 20px;
  border-radius: 10px;
  animation: frontProject .3s;

}


input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;

  transition: transform .3s;
  border-radius: 5px;
}

input:hover {
  transform: scale(1.1)
}

button {
  display: block;
  width: 50%;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;

  transition: transform .3s;
}

button:hover {
  transform: scale(1.1)
}

/* Animation */
  @keyframes frontProject {
      from {
          opacity: 0;
          transform: translateX(-110px);
      }

      to {
          opacity: 1;
          transform: translateX(0);
      }
  }

